/*!
 * 
 * Copyright Borko Stankovic
 * 
 */
 body{font-family:"Times New Roman", Times, serif;
    padding-top:54px;
    color:#8000ff
}
@media (min-width:992px){
    body{padding-top:0;
        padding-left:17rem
    }
}
h1,h2,h3,h4,h5,h6{
    font-family:"Times New Roman", Times, serif;
    font-weight:700;
    color:#343a40
}
h1{
    font-size:6rem;
    line-height:5.5rem
}
h2{
    font-size:3.5rem
}
h3{
    font-size:2rem
}
p.lead
    {
        font-size:1.15rem;
        font-weight:400
    }
.subheading{
    
    font-weight:500;
    font-family:"Times New Roman", Times, serif;
    font-size:1.5rem
}
.social-icons a{
    display:inline-block;
    height:3.5rem;
    width:3.5rem;
    background-color:#ff8000;
    color:#fff!important;
    border-radius:100%;
    text-align:center;
    font-size:1.5rem;
    line-height:3.5rem;
    margin-right:1rem
}
.social-icons a:last-child{
    margin-right:0
}
.social-icons a:hover{
    background-color:#400080
}
.dev-icons{
    font-size:3rem
}
.dev-icons .list-inline-item i:hover{
    color:#400080
}
#sideNav .navbar-nav .nav-item .nav-link{
    font-weight:800;
    letter-spacing:.05rem;
    
}
#sideNav .navbar-toggler:focus{
    outline-color:#d48a6e
}
@media (min-width:992px){
    #sideNav{
        text-align:center;
        position:fixed;
        top:0;
        left:0;
        display:flex;
        flex-direction:column;
        width:17rem;
        height:100vh
    }
    #sideNav .navbar-brand{
        display:flex;
        margin:auto auto 0;
        padding:.5rem
    }
    #sideNav .navbar-brand .img-profile{
        max-width:10rem;
        max-height:10rem;
        border:.5rem solid rgba(255,255,255,.2)
    }
    #sideNav .navbar-collapse{
        display:flex;
        align-items:flex-start;
        flex-grow:0;
        width:100%;
        margin-bottom:auto
    }
    #sideNav .navbar-collapse .navbar-nav{
        flex-direction:column;
        width:100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item{
        display:block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
        display:block
    }
}
section.page-section{
    padding-top:5rem!important;
    padding-bottom:5rem!important;
    max-width:75rem
}
section.page-section .resume-item .edit-profile{
    min-width:none
}
@media (min-width:768px){
    section.page-section{
        min-height:100vh}
 section.page-section .resume-item .edit-profile{
     min-width:18rem
    }
}
 @media (min-width:992px){
     section.page-section{
         padding-top:3rem!important;
         padding-bottom:3rem!important
        }
    }
.bg-primary{
    background-color:#400080 !important
}
.text-primary{
    color:#400080!important
}
a{
    color:#400080
}
a:active,a:focus,a:hover{
    color:#ff8000;
    text-decoration:none;
}
::selection {
    color: whitesmoke;
    background: #400080;
  }

  .btn {
    background: #400080;
    border-color: #ff8000;
  }
.form-sigin {
    border: none;
}

.login {
    text-align: center;
}